<div class="jumbotron text-center">
  <h1>Bienvenue sur Email Viewer</h1>
  <p>Connectez-vous pour accéder à vos emails.</p>
  <%= link_to 'Se connecter', new_user_session_path, class: 'btn btn-primary btn-lg' %>
</div>
